.question {
  text-align: center;
  margin-top: 10vh;

  h3 {
    margin-top: 2.0em;
  }

  p {
    margin-top: 0.7em; 
    padding-left: 1em;
    padding-right: 1em; 
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 10vh;
  padding: 0 5%; 
}

.buttons-container .authorize,
.buttons-container .not-authorize {
  padding: 0.5rem 0; 
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em; 
  font-size: 1rem; 
  color: white;
  margin-bottom: 5%; 
  width: 100%; 
}

.buttons-container .authorize {
  background-color: #21A00D;
}

.buttons-container .not-authorize {
  background-color: #E10B0B;
}

