.question {
  text-align: center;
  margin-top: 10vh;

  .authorize-question {
    margin-top: 1vh;
    font-weight: bold;
    font-size: 3vh;
  }

  .not-authorize-question {
    margin-top: 1vh; 
    padding-left: 2vw;
    padding-right: 2vw; 
    font-size: 3vh;
  }
}

/* Authorize Localization */
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  align-items: center; 
  margin-top: 15vh;
  padding: 0 5%; 
}

.buttons-container .authorize,
.buttons-container .not-authorize {
  padding: 0.5rem 0; 
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1em; 
  font-size: 2.5vh; 
  color: white;
  margin-bottom: 5%; 
  width: 30vw; 
}

.buttons-container .authorize {
  background-color: #21A00D;
}

.buttons-container .not-authorize {
  background-color: #E10B0B;
}

/* Emergency */
.buttons-container-emergency {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 25%; 

  .green-button,
  .red-button {
    padding: 0.5rem 1rem; 
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1em; 
    font-size: 1rem; 
    color: white;
    margin-bottom: 5%; 
    width: 100%; 
  }

  .green-button {
    background-color: #21A00D;
  }

  .red-button {
    background-color: #E10B0B;
  }
}

.footer-invisible {
  height: 9vh;
}

@media (min-width: 1000px) {
  .buttons-container {
    width: 70%;
    margin: 20vh auto; 
    justify-content: center; 
  }
}

