
.footer-invisible {
    height: 9vh;
  }
  
  .next{
    background-color: #FFCA05;
    color: black;
    font-weight: bold;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
  }
  
  .authorize {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    background-color: #21A00D; 
    margin-right: 0.75%;
    margin-bottom: 10%;
  }
  
  .not-authorize {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white; 
    background-color: #E10B0B;
    margin-left: 0.75%;
    margin-bottom: 10%;
  }
  
  .label-data{
    margin-left: 20px;
  }
  