
.title-text {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 5vh;
}

.middle-text {
  text-align: center;
  padding: 1vh 2vh;
  font-size: 1em;
}

/* Authorize Localization */
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  align-items: center; 
  margin-top: 5vh;
  padding: 0 5%; 
}

.buttons-container .authorize,
.buttons-container .not-authorize,
.buttons-container .emergency,
.buttons-container .not-emergency {
  padding: 0.5rem 0; 
  border: none;
  font-weight: bold;                                                                                                               
  cursor: pointer;
  border-radius: 0.5em; 
  font-size: 1.8vh; 
  color: white;
  margin-bottom: 5%; 
  width: 30vw; 
}
                                                                                                                                                                                                                                                                                            
.buttons-container .not-authorize {
  background-color: #df3e29;
}

.buttons-container .authorize {
  background-color: #37ad1f;
}              

.buttons-container .emergency {
  background-color: #df3e29;
}

.buttons-container .not-emergency {
  background-color: #b983be;
}     

@media (min-width: 1000px) {
  .buttons-container {
    width: 60%;
    margin: 20vh auto; 
    justify-content: center; 
  }

  .title-text {
    font-size: 1.4rem;
  }
}
