.question-emergency {
  text-align: center; 
  padding-top: 7vh;
}

.buttons-container-emergency {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 13%;
  }
  
  .green-button,
  .red-button {
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 1em;
    color: white;
    margin-bottom: 5%;
    width: 50vw;
  }
  
  .green-button {
    background-color: #21A00D;
  }
  
  .red-button {
    background-color: #E10B0B;
  }

  .footer-invisible {
    height: 9vh;
  }

  @media (min-width: 500px) {
    .green-button,
    .red-button {
      width: 60%;
    }
    
  @media (min-width: 1000px) {
    .green-button,
    .red-button {
      width: 60%;
      padding: 0.7rem 0.5rem;
    }
  }