.footer {
    background-color: #FFCA05;
    color: #612368;
    position: fixed;
    bottom: -12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 6vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10vh;
  }

@media (min-width: 600px) {
  .footer {
    width: 20vw;
    margin-bottom: 10vh ;
  }
}

@media (min-width: 1000px) {
  .footer {
    width: 13vw;
    margin-bottom: 12vh;
  }
}
