.titles{
  display: flex;
  flex-direction: column;
  
  .question{
    font-size: 15px;
    margin-right: 10%;
  }
}
  
.state{
  background-color: white;
  position: absolute;
  border-color: black;
  border-radius: 3px;
  color: black;
  display: flex;
  width: 70%;
}
  
.information{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 10%;
  font-size: 15px;
}

  