.page{
    display: flex;
    justify-content: flex-end;
}

.area-question {
    display: flex;
    flex-direction: column;

    .text {
        text-align: left;
        line-height: 24.38px;
    }

    .questions {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        gap: 25px;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}