.titles{
  display: flex;
  flex-direction: column;
  padding: 2vh;
  font-size: 0.9em;
}

.question-state{
  font-size: 0.8rem;
  margin-top: -5px;
}
  
.state
.city {
  background-color: white;
  border-color: black;
  border-radius: 3px;
  color: black;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

  
.information {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  padding: 2vh;

  .info-form-state {
    font-size: 0.9em;
  }
}

