.holepage {
    overflow: auto; 
    height: 80vh; 
  }

  .prompt {
    font-size: 0.9rem;
  }
  
  .forms {
    font-size: 1rem;
    padding: 1vh;
  }
  
  .forms form {
    padding-right: 1%; 
  }
  
  .checkbox-container {
    max-height: 100%; 
    overflow-y: auto; 
  }
  
  .checkbox-labels {
    font-size: 0.9em;
  }
  