.page {
    display: flex;
    justify-content: flex-end;
}

.prompt {
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;

    p{
        margin-top: -2%;
    }
}

.forms{
    font-size: 14px;
}
