@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat.ttf') format('ttf'),
    /* Adicione outros formatos de arquivo, se necessário */
}


body {
    background-color: #612368;
}

.main-home {
    background-color: #612368; 
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.logo-home-header{
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-home{
        width: 90%;
        border-radius: 10px;
        margin-top: 5vh;
    }
}

.titles-home {
    color: white;
    text-align: center; 
    font-family: 'Monteserrat', Arial;

    .main-title {
        font-weight: bold;
        font-size: 6vh;
        margin-top: 40px;
    }

    .sub-title {
        font-weight: lighter;
        font-size: 4vh;
        margin: -6vh;
    }
}


