@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat.ttf') format('truetype');
}

body {
    background-color: #612368;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', Arial;
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #612368;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    color: white;
    box-shadow: none;
}

.logo-home {
    width: 80%;
    border-radius: 10px;
    margin-top: 1vh;
}

.main-title {
    font-weight: bold;
    font-size: 6vh;
    margin-top: 40px;
}

.sub-title {
    font-weight: normal;
    font-size: 4vh;
    margin-top: -6vh;
    margin-bottom: 0;
}

.footer {
    font-size: 1em;
    margin-bottom: 8vh;
}

/* Media Query para telas maiores que 600px */
@media (min-width: 600px) {
    .logo-home {
        width: 60%;
        margin-top: 3vh;
    }

    .main-title {
        font-size: 5vh;
    }

    .sub-title {
        font-size: 3vh;
        margin-top: -3vh;
        font-weight: normal;
    }

    .footer{
        width: 15vw;
    }
}
