.main-knowmore {
    display: flex;
    flex-direction: column;
}

.title-know-more { 
    text-align: center;
    font-size: 1em;
    color: black;
    margin: 2em 0;
}
.background {
    background-image: linear-gradient(to bottom right, white, yellow);
    border-radius: 10px;
    padding-right: 8px;
}

.link-items {
    display: flex;
    margin-bottom: 24px;
}

.link-items p {
   margin: 0;
   font-weight: bold;
   font-size: 0.9em;
}

.link-items a {
    color: #0D7DBC;
    font-size: 0.9em;
    opacity: 90%;
}

.custom-circle-icon{
    font-size: 2em;
    margin-right: 2vw; 
}

@media screen and (min-width: 1000px) {
    .title-know-more {
        font-size: 1.3rem;
        margin-top: -2vh;
    }

    .all-links {
        margin-top: 18vh;
    }
}
