main{
    padding: 8px;
} /*Cascata do main geral de 24px*/


.title-know-more{
    text-align: center;
    font-size: 1.25em;
    color: black;
    margin: 2em 0;
}
.background{
    background-image: linear-gradient(to bottom right, white, yellow);
    border-radius: 10px;
    padding-right: 8px;
}

.link-items{
    display: flex;
    margin-bottom: 24px;
    flex-direction: row;
}

.link-items p {
   margin: 0;
   font-weight: bold;
}

.link-items a {
    color: #0D7DBC;
    font-size: 1em;
    opacity: 90%;
    
}

.custom-circle-icon{
    font-size: 2em;
    margin-right: 8px;  
}

.custom-circle-icon:nth-of-type(1){
    color: #612368;
}

.custom-circle-icon:nth-of-type(2){
    color: #F2E744;
}

.custom-circle-icon:nth-of-type(3){
    color: #BC88BC;
}

@media screen and (max-width: 378px) {
    .link-items {
        flex-direction: column; 
    }

    .custom-circle-icon{
        display: none;
    }
}