.legend-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 80%;
  }

  .legend-icon-close {
    font-size: 1.7em;
    cursor: pointer;
    float: right;
    color: #3F0140;
  }
  .legend-icon-open {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    color: #3F0140;
  }

  .legend-title {
    /* color: #3F0140; */
    color: #181318;
    margin-bottom: 3.1px;

  }

  .legend-list {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 0.8em;
    
  }
  
  .legend-list li {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', Arial;
  }
  
  .legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .legend-label {
    font-size: 14px;
  }
  