/* Estilos para páginas com mapa */

.map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 500; 
}
  
.map-title {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  margin: 2.5vh auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.map-text {
  color: #612368;
  font-weight: bold;
  text-align: center;
  font-size: 0.6em;
} 

.map-tex:hover {
  cursor: pointer;
}

.button-logo-map {
  justify-content: flex-end;
  align-items: center; 
  flex-direction: column;
}
  
.logo-map {
  height: auto;
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
}

/* Container com informações */

.occurrence-details {
  position: fixed;
  height: 45vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(278, 44%, 96%);
  width: calc(80% - 50px);
  padding: 20px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  z-index: 500;
  text-align: center;
}

.map-icon{
  color: grey;
  margin-top: -80vw;
}

.general-information {
  text-align: center;
  font-weight: bold;
  font-size: 2.2vh;
  margin-bottom: 4vh;
}
  
.map-info {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.9vh;
  margin-top: 2vh;
  text-align: left;
}

.address-style{
  font-weight: lighter;
}
  
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFCA05;
  color: #612368;
  font-weight: bold;
  width: 25vw;
  font-size: 0.7rem;
  height: 6vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-finish-map {
  margin-top: 2vh;
}

.btn-finish-address {
  margin-top: 15vh;  
}

.btn-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsividade */

@media (min-width: 600px) {
  .map-title {
    width: 30vw;
  }

  .logo-map {
    width: 20%;
  }

  .occurrence-details {
    width: 60%;
  }

  .btn {
    width: 18vw;
  }

  .btn-finish-map {
    margin-top: 3vh;
  }
}

@media (min-width: 900px) {
  .map-title {
    width: 20vw;
  }

  .map-text {
    font-size: 0.65rem;
  }

  .logo-map {
    width: 14%;
  }

  .occurrence-details {
    width: 50%;
  }

  .btn {
    width: 10vw;
  }
}