.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 500; 
  }
  
.map-title {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 40vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    margin: 1vh auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.map-text {
    color: #612368;
    font-weight: bold;
    text-align: center;
    font-size: 0.7em;
} 

.map-tex:hover {
  cursor: pointer;
}

/* Botão da Logo */

.button-logo-map {
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  
.logo-map {
    height: auto;
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }

/* Container com informações */

.occurrence-details {
  position: fixed;
  height: 50vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(278, 44%, 96%);
  width: calc(80% - 50px);
  padding: 20px;
  padding-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  z-index: 500;
  text-align: center;
}

  .map-icon{
    color: grey;
    margin-top: -80vw;
  }

  .general-information {
    text-align: center;
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 4vh;
  }
  
  .map-info {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2vh;
    margin-top: 2vh;
    text-align: left;
  }

  .address-style{
    font-weight: lighter;
  }
  
  .btn-map {
    text-align: center;
    justify-content: center;   
  }
  
  .btn-finish {
    padding: 10px 20px;
    background-color: #FFCA05;
    width: 20vw;
    color: #612368;
    font-weight: bold;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }

  .btn-finish-map {
    padding: 9px 19px;
    background-color: #FFCA05;
    width: 25vw;
    color: #612368;
    font-weight: bold;
    font-size: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -3vh;
  }
  
/*Mapa com filtro */ 
.filter-content {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 40vw;
  margin: 0 auto;
  margin-top: 3px;
  padding: 1vw 0;
}

.filter-content span {
  display: flex;
  flex-direction: column;
  align-items: center
}

.filter-content label {
  width: 100%;
  color: #000;
  font-weight:lighter;
  font-size: 15px;
  margin-top: 2px;
}

.select-filter-content{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 35vw;
  margin: 0 auto;
  margin-top: 3px;
  padding: 1vw 0;
  font-weight: lighter;
  text-align: center;
  font-size: 12px;
}

.select-filter-content span { 
  font-weight: bold;
  padding-right: 2px;
}

.map-filter-container{ 
  display: flex;
  align-items: center;
}
/* Botão selecionar filtro */ 

.filter-button-select {
  margin-top: 10px; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
}

.filter-button-select:hover,
.filter-button-select:focus,
.filter-button-select:active {
    font-size: 14px;
    outline: none; 
    background-color: transparent;
}

/* Botão filtro responsivo */ 
@media (min-width: 600px) {
  .map-title {
    width: 30vw;
    margin-top: 2vh;
  }

  .logo-map {
    width: 20%;
  }

  .occurrence-details {
    width: 60%;
  }

  .btn-finish {
    width: 15vw;
    margin-top: 5vh;
  }

  .btn-finish-map {
    width: 15vw;
  }
}


@media (min-width: 900px) {
  .map-title {
    width: 20%;
  }

  .logo-map {
    width: 10%;
  }

  .occurrence-details {
    width: 50%;
  }

  .btn-finish {
    width: 13vw;
    margin-top: 7vh;
  }

  .btn-finish-map {
    width: 10vw;
  }

}