.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay h3 {
    color: #612368;
    font-weight: bold;
}

.popup-content {
    background: white;
    padding: 25px; 
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px; 
}

.popup-content button {
    margin: 15px;
    font-weight: bold;
}

.popup-content button :hover {
    width: auto;
}

.yes-btn {
    background-color: #612368;
    color: white;
}

.no-btn {
    background-color: white;
    color: black;
}
