.main-knowmore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thankyouTitles{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 12%;
}

.knowMore-Thankyou{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    border: 4px solid;
    border-color: #BC88BC;
    border-radius: 7px;
    margin-top: 5vh;

    .TiPencil{
        color: #BC88BC;
        border: 2px solid;
        border-radius: 80%;
        padding: 5px;
    }

    .button-know-more{
        border-color: transparent;
        color: #BC88BC;
        font-weight: bold;
        background-color: white;
        width: 90%;
        margin-left: 4vw;
    }

    .button-know-more:focus{
        outline: none;
    }
}

@media (min-width: 900px) {
    .knowMore-Thankyou {
        width: 60%;
    }

    .button-know-more {
        margin-right: 5vw;
    }
}
