.main-knowmore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20vh 2vh;
}

.knowMore-Thankyou {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    border: 4px solid;
    border-color: #BC88BC;
    border-radius: 7px;
    margin-top: 5vh;
}

.TiPencil {
    color: #BC88BC;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
}

.button-know-more {
    border: none;
    color: #BC88BC;
    font-weight: bold;
    background-color: white;
    width: 100%; 
    text-align: left; 
    padding: 1em; 
    box-sizing: border-box; 
}

.button-know-more:focus {
    outline: none;
}

.footer {
    margin-top: 1em; 
}

@media (min-width: 900px) {
    .knowMore-Thankyou {
        width: 60%;
    }

    .button-know-more {
        margin-right: 0; 
    }
}