.introduction{
  padding: 5px;
}

.violenceMenu{
  margin-bottom: 5px;

  .dropdownTitle{
    font-weight: bold;
  }

  .dropdownText{
    margin-top: -10px;
    font-size: 15px;
  }

  .iconFisical{
    color: #023AFF;
    float: left;
    margin-right: 2%;
  }

  .iconMoral{
    color: #FA5A00;
    float: left;
    margin-right: 2%;
  }

  .iconPsychological{
    color: #FCC605;
    float: left;
    margin-right: 2%;

  }

  .iconPatrimonial{
    color: #248E12;
    float: left;
    margin-right: 2%;
  }

  .iconSexual{
    color: #FD0000;
    float: left;
    margin-right: 2%;
  }
}
