main{
  height: 85vh;
}

.introduction{
  margin-top: 5%;
  padding: 5px;
}

.violenceMenu{
  margin-bottom: 5px;

  .dropdownTitle{
    font-weight: bold;
  }

  .dropdownText{
    margin-top: -10px;
    font-size: 15px;
  }

  .iconFisical{
    color: #023AFF;
    float: left;
    margin-right: 2%;
  }

  .iconMoral{
    color: #FA5A00;
    float: left;
    margin-right: 2%;
  }

  .iconPsychological{
    color: #FCC605;
    float: left;
    margin-right: 2%;

  }

  .iconPatrimonial{
    color: #248E12;
    float: left;
    margin-right: 2%;
  }

  .iconSexual{
    color: #FD0000;
    float: left;
    margin-right: 2%;
  }
}

footer {
  background-color: #FFCA05;
  position: fixed;
  bottom: 0;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 25vh;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
}
