.introduction{
    padding: 20px;
}

footer{
    background-color:#FFCA05;
    position: relative;
    width: 20vw !important;
    height: 5vh;
    border-radius: 15px;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 4vh;
  }
  
  footer h4 {
    padding: 5%;
    text-align: center;
  }