.titles-whattodo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5vw;
    color: black;
    margin: 2em 0;

    .intro-title { 
        margin-top: 3vh;
        padding: 3vw;
        font-size: 3vh;
    }

    .question-whattodo {
        margin-top: -4vh;
        margin-bottom: 1vh;
        font-size: 3vh;
    }
}

.navigation {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8em;
}

.violence-registration,
.map-visualization,
.know-more,
.help {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vh;
    border: 4px solid;
    border-radius: 7px;
    margin-bottom: 2vh;
    cursor: pointer;
}

.FaHand,
.IoLocation,
.TiPencil,
.MdOutline {
    border: 2px solid;
    border-radius: 80%;
    padding: 1vh;
}

.violence-registration {
    border-color: #372482;

    .FaHand,
    .text-violence-registration {
        color: #372482;
    }

    .text-violence-registration {
        font-weight: bold;
        margin-left: 2vw;
    }
}

.map-visualization {
    border-color: #612368;

    .IoLocation,
    .text-map-visualization {
        color: #612368;
    }

    .text-map-visualization {
        font-weight: bold;
        margin-left: 2vw;
    }
}

.know-more {
    border-color: #BC88BC;

    .TiPencil,
    .text-know-more {
        color: #BC88BC;
    }

    .text-know-more {
        font-weight: bold;
        margin-left: 2vw;
    }
}

.help {
    border-color: #FD0000;

    .MdOutline,
    .text-help {
        color: #FD0000;
    }

    .text-help {
        font-weight: bold;
        margin-left: 2vw;
    }
}

.footer-invisible {
    height: 9vh;
  }

@media (min-width: 400px) {
    .navigation {
        margin-top: -5vh;
    }
}

@media (min-width: 600px) {
    main {
        height: 80vh;
        width: 50vw;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titles-whattodo  {
        margin-top: 4vh;
        font-size: 1.5rem;
    }

    .violence-registration,
    .map-visualization,
    .know-more { 
        font-size: 0.8rem;
        width: 90%;
    }

    .help {
        font-size: 0.8rem;
        width: 90%;
        margin-bottom: 4vh;
    }
}

@media (min-width: 1000px) {
    .violence-registration,
    .map-visualization,
    .know-more,
    .help {
        width: 60%;
        font-size: 0.8rem;
    }
}
