.titles-whattodo{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 5vw;
    color: black;
    margin: 2em 0;

    .intro-title{
        margin-top: 1vw;
    }

    .question{
        margin-top: 1vh;
    }
}

.navigation{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 4vw;
    margin-top: -3vh;
}
.violence-registration{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vh;
    border: 4px solid;
    border-color: #372482;
    border-radius: 7px;
    margin-bottom: 2vh;

    .FaHand{
        color: #372482;
        border: 2px solid;
        border-radius: 80%;
        padding: 1vh;
    }

    .button-violence{
        border-color: transparent;
        color: #372482;
        font-weight: bold;
        background: #fff;
    }

    .button-violence:focus{
        outline: none;
    }
}

.map-visualization{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vh;
    border: 4px solid;
    border-color: #612368;
    border-radius: 7px;
    margin-bottom: 2vh;

    .IoLocation{
        color: #612368;
        border: 2px solid;
        border-radius: 80%;
        padding: 1vh;
    }

    .button-map{
        border-color: transparent;
        color: #612368;
        font-weight: bold;
        background: #fff;
    }
    
    .button-map:focus{
        outline: none;
    }
}

.know-more{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vh;
    border: 4px solid;
    border-color: #BC88BC;
    border-radius: 7px;
    margin-bottom: 2vh;

    .TiPencil{
        color: #BC88BC;
        border: 2px solid;
        border-radius: 80%;
        padding: 1vh;
    }

    .button-know-more{
        border-color: transparent;
        color: #BC88BC;
        font-weight: bold;
        background: #fff;
    }

    .button-know-more:focus{
        outline: none;
    }
}

.help{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4vh;
    border: 4px solid;
    border-color: #FD0000;
    border-radius: 7px;
    margin-bottom: 2vh;

    .MdOutline{
        color: #FD0000;
        border: 2px solid;
        border-radius: 80%;
        padding: 1vh;
    }

    .button-help{
        border-color: transparent;
        color: #FD0000;
        font-weight: bold;
        background: #fff;   
    }

    .button-help:focus{
        outline: none;
    }
}

.footer-invisible {
    height: 9vh;
  }


