body {
  background-color: #612368; 
  font-family: 'Montserrat', Arial; 
  color: black; 
  justify-content: center; 
  align-items: center;
}

main {
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 2vh;
  width: 80vw;
  height: 80vh; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  overflow: auto;
}

/*Componentes Header e HeaderMap*/ 
.header {
  margin-top: -8vh;
}

.header-items,
.header-map-items
{
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

/* Botão de Voltar */
.button-back, 
.button-map-back {
  display: block;
  align-items: flex-start;
  background-color: transparent; 
  border: none;
  width: 8vh;
  height: auto;
  margin-left: -1rem;
}

.icon-back {
  width: 8vw; 
  height: auto; 
  color: white;
}

.button-map-back .icon-back{
  color: #612368;
}

/* Botão da Logo */
.button-logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.logo {
  width: 30vw; 
  height: auto;
}

.logo-map {
  width: 25vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Componente FormIndex*/ 
.ball-line {
  display: flex;
  align-items: center;
}

.ball {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1.5px solid #612368;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #612368;
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 2vh;
}

.line {
  height: 1.5px;
  width: 0.5rem;
  background-color: #612368;
  margin-top: 2vh;
}
 
.index-purple {
  background-color: #612368;
  color: white;
}

  .header-items .header-map-items {
    width: 50%;
  }

  @media (min-width: 600px) {
    .logo { 
        width: 30%;
        margin-top: -2vh;
        margin-left: -10vw;
    }

    .button-back .icon-back{
        width: 350%;
    }
  }