body {
  background-color: #612368; 
  font-family: 'Montserrat', Arial; 
  color: black; 
  justify-content: center; 
  align-items: center;
}

header {
  margin: 5vh;
}

.logo{
  display: flex;
  flex-direction: column;
  width: 30%;
}

main{
  background-color: white;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 70vw;
  margin: 0 auto;
  height: 70vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  padding: 24px;
}

.index img{
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.back {
  position: absolute;
  z-index: 1;
  width: 5%;
  top: 6%;
  left: 15%;
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: purple;
  border: none;
  cursor: pointer;
  padding: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.back svg {
  fill: white; 
  width: 20px; 
  height: 20px; 
}
