body {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  background-color: #612368; 
  font-family: 'Montserrat', Arial; 
  color: black; 
}

main {
  background-color: white;
  border-radius: 2vh;
  width: 80vw;
  height: 80vh; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

/*Componentes Header e HeaderMap*/ 
.header {
  margin-top: -5vh;
}

.header-items,
.header-map-items {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  position: relative;
  width: 100%; 
  margin-bottom: 1.5vh;
}

/* Botão de Voltar */
.button-map-back {
  background-color: transparent; 
  border: none;
  width: 2rem; 
  height: 2rem;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin-top: 6vh;
}

.button-back {
  background-color: transparent; 
  border: none;
  width: 2rem; 
  height: 2rem;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
}

.icon-back {
  width: 100%; 
  height: auto; 
  color: white;
}

.reset-svg{
  stroke: none;
}

.button-map-back .icon-back{
  color: #612368;
}

/* Botão da Logo */
.button-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.logo {
  width: 30vw; 
  height: auto;
}

/*Componente FormIndex*/ 
.ball-line {
  display: flex;
  align-items: center;
}

.ball {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1.5px solid #612368;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #612368;
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 2vh;
}

.line {
  height: 1.5px;
  width: 0.5rem;
  background-color: #612368;
  margin-top: 2vh;
}
 
.index-purple {
  background-color: #612368;
  color: white;
}

.header-items .header-map-items {
  width: 50%;
}

@media (min-width: 500px) {
  .logo { 
    width: 30%;
  }
}

@media (min-width: 1000px) {
  .logo { 
    width: 25%;
  }

  .button-back {
    width: 6.5%;
  }
}
